# Google OAuth (si usas integración directa)
EXPO_PUBLIC_GOOGLE_CLIENT_ID_EXPO=tu_client_id_expo.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_CLIENT_ID_WEB=tu_client_id_web.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_CLIENT_ID_ANDROID=tu_client_id_android.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_CLIENT_ID_IOS=tu_client_id_ios.apps.googleusercontent.com

# Dominio institucional permitido
EXPO_PUBLIC_ALLOWED_DOMAIN=ucaldas.edu.co

